/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.wrapper {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4vw;
}
